*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --color: #000;
  --border-color: #333;
  --background-color: #fff;
}
@media only screen and (prefers-color-scheme: dark) {
  :root {
    --color: #ccc;
    --border-color: #777;
    --background-color: #222;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  color: var(--color);
  background-color: var(--background-color);
}

body > * {
  width: 100%;
}

@media only screen and (min-width: 52rem) {
  body > * {
    width: 50rem;
  }
}

main {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1rem;
  flex: 1;
}
main input[type="search"] {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  color: var(--color);
  background-color: var(--background-color);
}
main input[type="search"]:focus {
  border: 1px solid Highlight;
  outline: 1px solid Highlight;
}
main .table-wrapper {
  flex: 1 1 1px;
  overflow-y: auto;
}
main table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
main table thead th {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  box-shadow: 0px 5px 5px 0px var(--background-color);
  margin-bottom: 5px;
  padding: 0.5em;
}
main table tbody td {
  border-top: 1px dotted var(--border-color);
  padding: 0.25em;
}
main table tbody td mark {
  color: var(--color);
  background: none;
  font-weight: bold;
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
